{{!< layout}}
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main intro-header text-center">
            <app-root></app-root>
        </div>
    </div>
</header>

