<div class="aui-page-header-inner">
  <div class="aui-page-header-main intro-header">
    <div class="container">
      <div style="margin-bottom: 25px">
        <a routerLink="/subtasks/create" class="btn btn-success">Add Sub-task Name</a>
      </div>
      <div style="margin-bottom: 25px">
        <a routerLink="/issues/create" class="btn btn-primary">Create New Issue</a>
        <a routerLink="/issues/create/sub-task" class="btn btn-info">Create Sub-Task</a>
      </div>
      <div *ngIf="loading">Loading issues...</div>
      <div id="issues" *ngIf="!loading">
        <table class="table table-bordered table-condensed" id="issues_table">
          <thead>
          <tr>
            <th>Key</th>
            <th>Issue Type</th>
            <th>Project Key</th>
            <th>Parent Key</th>
            <th>Summary</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody *ngIf="issues">
            <tr *ngFor="let issue of issues; let i = index">
              <td>{{ issue.issue_key }}</td>
              <td>{{ issue.type }}</td>
              <td>{{ issue.project_key }}</td>
              <td>{{ issue.parent_key || '-' }}</td>
              <td>{{ issue.summary }}</td>
              <td>{{ issue.description }}</td>
              <!--<td>-->
                <!--<a routerLink="/issue/edit/{{ issue.id }}" class="btn btn-md btn-warning">Edit</a>-->
                <!--<button class="btn btn-sm btn-danger" (click)="deleteIssue(issue.key, i)">Remove</button>-->
              <!--</td>-->
            </tr>
          </tbody>
          <ng-template>
            <tbody>
              <tr>
                <td colspan="6" class="text-center">No Issues Added</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>