<div class="aui-page-header-inner">
  <div class="aui-page-header-main intro-header">
    <div class="col-md-4 col-md-offset-4 jumbotron create-issue-form" *ngIf="!loading && projects">
      <h2 class="text-center" *ngIf="!is_update; else update_title">Add Subtask Name</h2>
      <ng-template #update_title>
        <h2>Update Issue</h2>
      </ng-template>
      <div class="create-subtask-form">
        <form id="create_issue_form" #subTaskForm="ngForm" (ngSubmit)="subTaskForm.form.valid && submit(subTaskForm)">
          <div class="form-group">
            <label for="project_key">Select Project: *</label>
            <select name="project_key" id="project_key" class="form-control" [(ngModel)]="model.project_key" #project_key="ngModel"  required>
              <option value="">select project...</option>
              <option *ngFor="let project of projects" [ngValue]="project.key">
                {{ project.name }}
              </option>
            </select>
            <div [hidden]="project_key.valid || project_key.pristine" class="alert alert-danger">Please select project </div>
          </div>
          <div class="form-group">
            <label for="name">Name: *</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="model.name" #name="ngModel" required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Please specify the name </div>
          </div>
          <div class="text-center">
            <button [disabled]="!subTaskForm.form.valid" class="btn btn-md btn-primary">
              <span *ngIf="!is_update; else update_button_label">Create</span>
              <ng-template #update_button_label>
                <span>Update</span>
              </ng-template>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="subtasks-table" *ngIf="subtasks">
      <table class="table table-bordered table-condensed" id="sub-tasks-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Project Key</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subtask of subtasks; let i = index">
          <td>{{ subtask.id }}</td>
          <td>{{ subtask.project_key }}</td>
          <td>{{ subtask.name }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>