<div class="aui-page-header-inner">
  <div class="aui-page-header-main intro-header">
    <div class="col-md-4 col-md-offset-4 jumbotron create-issue-form" *ngIf="formLoaded && projects">
      <h2 class="text-center" *ngIf="!is_update; else update_title">Create Issue</h2>
      <ng-template #update_title>
        <h2>Update Issue</h2>
      </ng-template>
      <form id="create_issue_form" #issueForm="ngForm" (ngSubmit)="issueForm.form.valid && submit()">
        <div class="form-group">
          <label for="key">Select Project: *</label>
          <select name="key" id="key" class="form-control" [(ngModel)]="model.key" #key="ngModel" (change)="loadProjectIssues(model.key)" required>
            <option value="">select project...</option>
            <option *ngFor="let project of projects" [ngValue]="project.key">
              {{ project.name }}
            </option>
          </select>
          <div [hidden]="key.valid || key.pristine" class="alert alert-danger">Please select the project </div>
        </div>
        <div class="form-group" *ngIf="is_update">
          Task Type: {{ model.type }}
        </div>
        <div class="form-group" *ngIf="task_type == 'Sub-task' && issues.length">
          <label for="summary">Select Issue: *</label>
          <select name="issue_key" id="issue_key" class="form-control" [(ngModel)]="model.issue_key" #issue_key="ngModel" required>
            <option *ngFor="let issue of issues" [ngValue]="issue.key">
              {{ issue.key }}
            </option>
          </select>
          <div [hidden]="summary.valid || summary.pristine" class="alert alert-danger">Please select the issue </div>
        </div>
        <div class="form-group">
          <label for="summary">Summary: *</label>
          <input type="text" class="form-control" name="summary" id="summary" [(ngModel)]="model.summary" #summary="ngModel" required>
          <div [hidden]="summary.valid || summary.pristine" class="alert alert-danger">Summary is required </div>
        </div>
        <div class="form-group">
          <label for="description">Description: </label>
          <textarea name="description" id="description" cols="30" rows="10" class="form-control" [(ngModel)]="model.description" #description="ngModel"></textarea>
        </div>
        <div class="text-center">
          <button [disabled]="loading || !issueForm.form.valid" class="btn btn-md btn-primary">
            <span *ngIf="!is_update; else update_button_label">Create</span>
            <ng-template #update_button_label>
              <span>Update</span>
            </ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>